body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343a40f1!important;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
}

.white{
  color: white;
}

.btn{
  color: white;
  border-color: #fbea9a;
}

.btn-outline-info:disabled {
  color: #e60808;
  background-color: transparent;
}

.btn:hover{
  color: #343a40f1;
  border-color: #fbea9a;
  background-color: #fbea9a;
}
.MuiTable-root .btn{
  color: #343a40f1;
  border-color: #fbea9a;
}


/* table.MuiTable-root{
  border: 1px;
  color: white !important;
}

thead.MuiTableHead-root{
  background-color: #272a2e;

}
tbody.MuiTableBody-root{
  background-color: #343a40;

} */

/* .MuiTableCell-head, .MuiTableCell-, .MuiTypography-root, .MuiIconButton-label, .MuiTableCell-root {
  color: white !important;

} */
